<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EVEDRI_online_food_ordering.Properties.Settings.accountdetailsConnectionString"
            connectionString="Data Source=WIN-RCHA6075J8T\SQLEXPRESS;Initial Catalog=accountdetails;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EVEDRI_online_food_ordering.Properties.Settings.QuickBitesConnectionString"
            connectionString="Data Source=WIN-RCHA6075J8T\SQLEXPRESS;Initial Catalog=QuickBites;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EVEDRI_online_food_ordering.Properties.Settings.QuickBitesDatabaseConnectionString"
            connectionString="Data Source=WIN-63Q69S63RJL\SQLEXPRESS;Initial Catalog=QuickBitesDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EVEDRI_online_food_ordering.Properties.Settings.QuickBitesConnectionString1"
            connectionString="Data Source=WIN-63Q69S63RJL\SQLEXPRESS;Initial Catalog=QuickBites;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>